h1
{
  text-align:center;
}
h2
{
  //text-align:center;
  margin-left:550px;
 }
body
{
  background-color: grey;
}
#one
{
   margin-left: 550px;
}
#two
{
   margin-left: 550px;
   margin-right: 300px;
   border:2px;
   border-color: white;
   border-style: solid;
}
#three
{
   margin-left: 550px;
   margin-right: 300px;

   border:2px;
   border-color: white;
   border-style: solid;
}

#p1
{
   text-align: center;
}
#p2
{
  text-align: center;
}
